<div class="w-20 d-flex justify-content-right">
  <button class="p-20 btn btn-danger" (click)="logout()" >Odjavi se</button>
</div>
<div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Naziv</th>
      <th>Cena</th>
      <th>Kompatibilnost</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let delovi of deloviList">
      <td>{{delovi.iddelovi}}</td>
      <td>{{delovi.naziv}}</td>
      <td>{{delovi.cena}}</td>
      <td>{{delovi.komp}}</td>
    </tr>
  </tbody>
</table>
</div>
<div class="p-3 d-flex justify-content-left">
  <button class="p-2 btn btn-primary" (click)="add()">Dodaj</button>
  <button class="p-2 btn btn-primary" (click)="delorfind()">Nadji/Obrisi</button>
  <button class="p-2 btn btn-primary" (click)="view()">Osvezi</button>
</div>
  <div class="w-100 d-flex justify-content-center" *ngIf="activator">
    <div class="p-2 border border-primary rounded w-25">
  <div class="form-group">
    <label for="iddelovi">iddelovi</label>
    <input id="iddelovi" [(ngModel)]="delovi.iddelovi" type="number" class="form-control" />
  </div>
    <div class="form-group">
      <label for="naziv">naziv</label>
      <input id="naziv" [(ngModel)]="delovi.naziv" type="text" class="form-control" />
    </div>
      <div class="form-group">
        <label for="cena">cena</label>
        <input id="cena" [(ngModel)]="delovi.cena" type="number" class="form-control" />
      </div>
      <div class="form-group">
        <label for="komp">kompatibilnost</label>
        <input id="komp" [(ngModel)]="delovi.komp" type="text" class="form-control" />
      </div>
      <div class="p-3 d-flex flex-row-reverse justify-content-around">
        <button class="p-2 btn btn-primary" (click)="save()" >save</button>
  </div>
  </div>
 </div>
 <div class="w-100 d-flex justify-content-around" *ngIf="_activator">
  <div class="p-2 border border-primary rounded w-25">
    <div class="form-group">
      <label for="iddelovi">iddelovi</label>
      <input id="iddelovi" [(ngModel)]="iddelovi" type="number" class="form-control" />
    </div>
    <div class="p-3 d-flex flex-row-reverse justify-content-around">
      <button class="p-2 btn btn-danger" (click)="deletebyid()" >obrisi</button>
      <button class="p-2 btn btn-primary" (click)="change()"  *ngIf="activator_">promeni</button>
      <button class="p-2 btn btn-primary" (click)="findbyid()" >nadji</button>
  </div>
  <div>{{delovi | json}}</div>
</div>

